[submodule "src/vendor/cppzmq"]
	path = src/vendor/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "src/vendor/libzmq"]
	path = src/vendor/libzmq
	url = https://github.com/zeromq/libzmq
